//Index Style

.eh__index__wrapper {
    height: 100%;
}
.eh__index__image { 
    width: 100%; 
    height: 100%;
    background-image: url(../img/home.jpg);
    background-position: center center;
    background-size: cover;
}

.eh__index__content {
    position: absolute; 
    top: 0; 
    height: 100%;
    width: 100%;
}


.eh__index__header {
    margin-top: 100px;
    text-align: center;

    img {
        width: 675px;
        height: 135px;
        margin: 0 auto;
    }
}


.eh__index__footer {
    text-align: center;
    position: absolute;
    bottom: 100px;
    
    @media (max-width: $screen-phone) {
        bottom: 20px;
    }

}

.eh__flag__list {
    list-style-type: none;
    display: block;
    margin: 0 auto;
}

.eh__flag__list__item {
    display: inline-block;
    border-right: 3px solid $white;
    width: 230px;
    
    @media (max-width: $screen-phone) {
        margin-bottom: 20px;
        border: 0;
    }

    &:last-child {
        border: 0;
    }

    img {
        opacity: 0.75;
        height: 28px;
        display: inline-block;
    }

    .eh__link {
        @include font-lobster;
        color: $white;
        font-size: 35px;
        opacity: 0.75;

        &:hover,
        &:focus {
            opacity: 1;
            text-decoration: none;
            color: $white;

            img {
                opacity: 1;
            }


        }
    }

    .eh__link__text {
    }
}