//Styling for Password Intro Page

.box {
    border-radius: 3px;
    background: $vio;
    margin: auto;
    padding: 12px;
    border-radius: 0;
}

.lightbox {
    zoom: 1.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;

}

.horizontal {
    display: flex;
    justify-content: center;
    height: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

::-webkit-input-placeholder {
    color: $vio;
    text-align: center;
}

::-moz-placeholder {  
    color: $vio;
    text-align: center;
}

:-ms-input-placeholder {  
    color: $vio;
    text-align: center;
}

.loginbox__input {
    margin: 16px;
    text-align: center;
    @include font-opensans;
    color: $gray;
}

#loginbutton {
    padding: 5px 20px;
    font-size: 18px;
    @include font-opensans;
}