//Singlepage Style

.main {
    margin-top: 20px;

    @media (min-width: 321px) and (max-width: $screen-xs-max) {
        margin-top: 60px;
    }

    @media (max-width: 320px) {
        margin-top: 100px;
    }
}

header {
    height: 450px;
    background-size: cover;
    background-position: center center;
    position: relative;

    @media (max-width: $screen-tablet) {
        background-position: left center;
    }
}

.eh__header__image__wrapper {
    height: 100%;
}

.eh__header__image {
    position: relative;
    height: 100%;

    img {
        width: 675px;
        height: 135px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.eh__sidebar {
    position: absolute;
    right: 0;
    z-index: 1;

    ul {
        float: none;
        display: block;

        @media (max-width: $screen-xs-max) {
            background: $gray;
            position: absolute;
            top: -2px;
            right: 55px;
        }

        li {
            float: none;
            display: block;

            @media (max-width: $screen-tablet) {
                width: 122px;
                text-align: right;

            }

            a {
                opacity:0.5;
                padding: 7px;

                @media (max-width: $screen-tablet) {
                    padding: 0 10px 20px;
                }

                &.first {
                    padding-top:20px;

                    @media (max-width: $screen-tablet) {
                        padding-top: 10px;
                    }
                }

                &.last {
                    @media (max-width: $screen-tablet) {
                        padding-bottom: 10px;
                    }
                } 

                &:hover,
                &:focus {
                    opacity: 1;
                    background: transparent;
                }

                &.active {
                    opacity: 1;
                }

                .lang-text {
                    @media (min-width: $screen-tablet) {
                        display: none;
                    }

                    @include font-lobster;
                    color: $white;
                    font-size: 20px;
                }
            }
        }
    }


    img {
        height: 32px;
        display: inline-block;

        @media (max-width: $screen-phone) {
            height: 15px;
            top: -2px;
            position: relative;
        }
    }


    .navbar-toggle {
        color: white;
        border-radius: 0;
        border: 0;
        width: 30px;
        padding: 0;
        margin: 5px;
        height: 30px;

        &.open {
            background: $gray;
        }

        .eh__icon {
            position: absolute;
            top: 6px;
            left: 2px;
            font-size: 20px;
            color: $white;
        }
    }
}

.eh__anchormenu {
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 50px;
    text-align: center;

    @media (max-width: $screen-xs-max) {
        position: relative;
        bottom: 0;
    }

    ul {
        display:table;
        margin: 0 auto;
        padding: 0;
        list-style: none;

        @media (max-width: $screen-xs-max) {
            background: rgba($vio, 0.5);
        }

        li {
            margin: 0;
            padding: 0;
            float: left;
            position: relative;

            @media (max-width: $screen-xs-max) {
                float: none;
                display: inline-block;
            }

            a {
                @include font-lobster;
                color: $white;
                font-size: 20px;
                padding: 12px 18px;
                display: block;
                opacity: 1;
                cursor: pointer;
                background: rgba($vio, 0.5);

                &:hover,
                &:focus {
                    background: rgba($vio, 1);
                    text-decoration: none;
                }

                @media (max-width: $screen-tablet) {
                    font-size: 16px;
                    padding: 12px 16px;
                }

                @media (max-width: $screen-xs-max) {
                    padding: 12px 8px;
                    font-size: 16px;
                    background: rgba($vio, 0);
                }
            }
        }
    }
}

#gallery  {

    @media (max-width: 320px) {
        padding: 0 22px;
    }

    a {
        display: block;
    }

    .img-thumbnail {
        padding: 0;
        line-height: 1.42857143;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        display: inline-block;
        max-width: 100%;
        width: 70px;
        height: auto;
        float: left;

        @media (max-width: $screen-phone) {
            width: 69px;
        }
    }


}

.eh__icon {
    font-size: 45px;
    color: $vio;

    #three & {
        margin-right: 20px;
    }

    #five & {
        margin-bottom: 10px;
        display: block;

    }
}


.eh__para {
    margin-bottom: 15px;

    @media (max-width: $screen-tablet) {
        br {
            display: none;
        }
    }

    #one & {

        &:last-child {
            margin: 0;
        }
    }
}

#four,
#six {
    padding: 0;

    @media (max-width: $screen-phone) {
        padding: 0 15px;
    }
}

iframe {
    width: 100%;

    @media (max-width: $screen-phone) {
        margin-bottom: 35px;
    }
}

.eh__infobanner {
    background: $vio;
    height: 100%;

    .eh__btn-white {
        min-width: 150px;

        &:focus,
        &:active {
            .eh__icon {
                color: $white;
            }
        }
    }

    .eh__icon {
        color: $white;
        font-size: 70px;

        &.icon-dowload {
            color: $vio;
            font-size: 20px;
            padding-left: 8px;
        }
    }

    p {
        color: $white;
        font-size: 20px;
        line-height: 28px;
        @include font-lobster;

        &:first-child {
            font-size: 30px;
            line-height: 28px;
        }
    }
}


.eh__form {
    text-align: left;
    float: left;
    margin-bottom: 60px;

    .form-group {
        margin: 0;
        position: relative;
    }

    label {
        @include font-lobster;
        font-size: 20px;
        color: $vio;
        margin: 20px 0 5px;
        width: 100%;
    }

    input {
        height: 40px;
        background: $lightgray;
        border: 1px solid $border;
        width: 100%;
        @include font-opensans;
        font-size: 14px;
        line-height: normal;
        color: $gray;
        border-radius: 0;
        box-shadow: none;
    }

    textarea {
        resize: none;
        height: 126px;
        background: $lightgray;
        border: 1px solid $border;
        @include font-opensans;
        font-size: 14px;
        line-height: normal;
        color: $gray;
        width: 100%;
        padding: 5px;
    }


    .eh__btn {
        min-width: 120px;
        margin-top: 40px;
        padding: 9px 13px;
    }

    .bootstrap-select {
        width: 100%;

        button {
            background: $lightgray;
            border: 1px solid $border;
            border-radius: 0;
            height: 40px;
        }

        .caret {
            border-top: 10px dashed;
            border-top: 10px solid \9;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            margin-top: -5px;
        }
    }

    img {
        display: inline-block;
        width: 60%;
        padding-left: 10px;

        @media (max-width: $screen-phone) {
            width: 57%;
        }
    }
}


.eh__infobanner__inner {
    padding: 22px 0;
}

.eh__infobanner__icon {

    .eh__icon {
        @media (max-width: $screen-phone) {
            left: -26px;
            position: relative;
        }
    }

    @media (max-width: $screen-phone) {
        text-align: center;
        margin-bottom: 15px;
    }
}

.eh__infobanner__text {
    text-align: center
}

.eh__infobanner__btn {
    padding: 15px;

    @media (max-width: $screen-phone) {
        text-align: center
    }
}


footer {
    height: 240px;
    background-image: url(../img/footer_pic.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
}

.eh__hashtag {
    @include font-lobster;
    font-size: 40px;
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}